.signUpWrapper{
  text-align: center;
  padding: 4em 14em 4em 14em;
  background-image: linear-gradient(rgb(51, 102, 255,1), rgb(51, 102, 255,.6));
  border: 4px double white;
}

.submit-btn{
  background-color: rgb(51, 102, 255);
  margin: 1em auto 0 auto;
  display: block;
}

.submit-btn:hover{
  background-color: rgba(51, 102, 255, 0.7);
}


@media (max-width: 768px){
  .signUpWrapper{
    padding: 4em 6em 3em 6em;
  }

  .submit-btn{
    width: 80%;
  }
}

@media (max-width: 600px){
  .signUpWrapper{
    padding: 4em 2em 3em 2em;
  }
}
