.contactFormWrapper{
  padding: 2em 0;
}

.contactFormWrapper h3{
  text-align: center;
  margin-bottom: 1em;
}

.contactFormWrapper form{
  width: 40%;
  margin: 0 auto;
}

.contactFormWrapper button{
  margin: 0 auto;
  display: block;
}
