.aboutSectionWrapper{
  /* height: 30em; */
  background-image: url('./images/melton-lake.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutSectionText{
  /* height: 30em; */
  background: linear-gradient(to left, rgba(255,255,255,1) 80%, rgba(255,255,255,0)) no-repeat;
  background-size: 100%;
  padding: 2em 0;
  text-align: justify;
  text-indent: 2em;
}

.aboutSectionText p{
  width: 80%;
  margin: 0 auto 0 auto;
  /* padding: 0 3em 0 19em; */
}

.aboutSectionHeader{
  padding-left: 4em;
}

@media (max-width: 600px){
  .aboutSectionHeader{
    padding-left:5.5em;
  }
}
