.App {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", "Lucida Grande", "Lucida Sans", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.container-fluid{
  padding: 0;
}

.row{
  margin: 0;
}

.text-center{
  text-align: center;
}

.white{
  color: rgb( 255, 255, 255);
}

.red{
  color: rgb(181,35,35);
}

.blue{
  color: rgb(21, 105, 199);
}

.background-red{
  background-color: rgb(181,35,35);
}

.background-blue{
  background-color: rgb(21, 105, 199);
}

.background-white{
  background-color: #fff;
}
